CompileFlags:
  CompilationDatabase: ./build
  Add:
    - "-include"
    - "/Volumes/idea/git/cov/libs/src/rz/idx.h"

    # wxWidgets support (without building) 實際要建置需要用 ./bu build -DBUILD_GUI=ON
    - "-I/opt/homebrew/Cellar/wxwidgets/3.2.8/include/wx-3.2"
    - "-I/opt/homebrew/Cellar/wxwidgets/3.2.8/lib/wx/include/osx_cocoa-unicode-3.2"
    - "-DwxUSE_GUI=1"
    - "-D__WXMAC__"
    - "-D__WXOSX__"
    - "-D__WXOSX_COCOA__"
